---
import Section from "./Section.astro";
import type { ExperienceProps } from "@types";

interface Props {
  experience: ExperienceProps[];
}

const { experience } = Astro.props;
---

<Section text="Work Experience" href="experience">
  {
    experience.map(({ company, position, startDate, endDate, summary }) => (
      <div class="mb-10">
        <h3 class="mb-1.5 font-serif text-2xl font-semibold text-fg">
          {company}
        </h3>
        <div class="mb-5 flex flex-col items-start">
          <h4 class="mb-0.5 font-serif text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-pink-400 to-purple-400">
            {position}
          </h4>
          <span class="pb-[2px] text-sm text-muted">
            {startDate} — {endDate}
          </span>
        </div>
        {Array.isArray(summary) ? (
          <ul class="list-none">
            {summary.map((log) => (
              <li class="relative mb-3 pl-8 text-base text-muted before:absolute before:top-1 before:left-0 before:content-[url(/check.svg)]">
                {log}
              </li>
            ))}
          </ul>
        ) : (
          <p class="text-base text-muted">{summary}</p>
        )}
      </div>
    ))
  }
</Section>
