---
import type { SiteConfig } from "@types";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "@config";
import "../styles/global.css";

const {
  title,
  description,
  siteLogo,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
}: SiteConfig & { canonicalURL?: string } = SITE_CONFIG as any;

const ogImgUrl = canonicalURL + socialImage;
---

<!doctype html>
<html lang={lang} class="scroll-pt-16 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImgUrl} />
  </head>
  <body class="bg-black font-sans text-white">
    <main class="mx-auto max-w-6xl px-5 py-10">
      <slot />
    </main>
  </body>
</html>
